.papa{

	position: absolute;
	top: 50px;
	left: 100px;
	width: 800px;
	height: 500px;
	background: skyblue;
}
.samuel{
	position: absolute;
	top: 20px;
	left: 300px;
	width: 250px;
	height: 50px;
	background: aquamarine;
}
.ana{
	position: absolute;
	top: 90px;
	left: 20px;
	width: 300px;
	height: 390px;
	background: chocolate;
}
.jero{
	position: absolute;
	top: 90px;
	left: 480px;
	width: 300px;
	height: 390px;
	background: chocolate;
}
.texto{
position: absolute;
top: 10px;
left: 60px;
color: blue;
font-size: 30px;

}
.foto{
	position: absolute;
top: 50px;
left: 20px;
width: 200px;
height: 200px;
background: url(pata.jpg);
background-size: cover;
}
.foto1{
position: absolute;
top: 50px;
left: 20px;
width: 200px;
height: 200px;
background: url(pata.jpg);
background-size:cover;
}